<head>
    <link rel="stylesheet" type="text/css" href="feedback_style.css">
</head>
<body>
    <div id="form-main">
        <div id="form-div">
            <form class="form" id="form1">

                <p class="name">
                    <input name="name" type="text" autocomplete='name' class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Name" id="name" />
                </p>

                <p class="email">
                    <input name="email" type="text" autocomplete='email' class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email" />
                </p>

                <p class="text">
                    <textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Comment"></textarea>
                </p>


                <div class="submit">
                    <input type="submit" value="SEND" id="button-blue" method="POST"/>
                    <div class="ease"></div>
                </div>
            </form>
        </div>
    </div>
</body>
